.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
    transition: 1s linear;
    text-decoration: none;
    align-self: flex-start;
 }

 .khan__buy-link:hover {
     color: #fc0313;
 }